@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerPanelLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/template/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/template/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <!-- Topbar End -->
    <!-- Navbar Start -->

    <!-- Navbar End -->
    <!-- Featured Start -->
    <!-- Featured End -->
    <!-- Categories Start -->
    <!-- Categories End -->
    <!-- Offer Start -->
    <!-- Offer End -->
    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
                 @foreach (var k in Model)
                    {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" img src="@Url.Content(k.imgurl)"alt="@k.ProductName">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@k.ProductName</h6>
                        <div class="d-flex justify-content-center">
                            <h6>@k.Selling_price</h6><h6 class="text-muted ml-2"><del>@k.Selling_price</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">

                          
                            <a href="@Url.Action("ProductDetails", "CustomerPanel", new { id = @k.ProductId })" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i> Ürün detayları
                            </a>

                            <form asp-controller="WishList" asp-action="AddToWishlist" method="post">
                                <input type="hidden" name="ProductId" value="@k.ProductId" />
                                <button type="submit" class="btn border">
                                    <i class="fas fa-heart text-primary"></i> 
                                </button>
                              
                            </form>

                            @if (User.Identity.IsAuthenticated)
                            {
                           <form asp-controller="Cart" asp-action="AddToCart" method="post">
                               <input type="hidden" name="ProductId" value="@k.ProductId"/>
                                <input type="hidden" name="Quantity" value="1" />
                               <button type="submit" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</button>

                           </form>
                            }
                            else
                            {              <form asp-controller="User" asp-action="Index" method="post">

                                <button type="submit" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</button>
                                </form>

                            }
                        
                        </div>
                </div>
            </div>
          }
        </div>
    </div>
    <!-- Products End -->
    <!-- Subscribe Start -->
    <!-- Subscribe End -->
    <!-- Products Start -->
    <!-- Products End -->
    <!-- Vendor Start -->
    <!-- Vendor End -->
    <!-- Footer Start -->
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/lib/easing/easing.min.js"></script>
    <script src="~/template/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/template/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/template/js/main.js"></script>
</body>

</html>