@model Order
@{
    ViewData["Title"] = "adminOrderDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h1>Sipariş Detayları</h1>
    @if (TempData["mesaj"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Başarılı!</h4>
            Bilgileriniz Kaydedildi..
        </div>
    }
   
    <p>Sipariş Numarası: @Model.OrderNumber</p>
    <p>Sipariş Tarihi: @Model.OrderDate.ToShortDateString()</p>
    <p>Müşteri Adı: @Model.FirstName @Model.LastName</p>
    <p>Adres: @Model.Address</p>
    <p>Şehir: @Model.City</p>
    <p>Sipariş Durumu: @Model.OrderState</p>
</div>

<div>
    <h2>Sipariş Ürünleri</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Miktar</th>
                <th>Ürün Resmi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td><img src="@item.Product.imgurl" height="75" width="50" alt="@item.Product.ProductName" /></td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-action="UpdateOrderState" method="post">
        <input type="hidden" name="OrderId" value="@Model.Id" enctype="multipart/form-data" />

        <div class="form-group">
            <label asp-for="OrderState" class="control-label">Sipariş Durumu</label>
            <select asp-for="OrderState"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<EnumOrderState>()">
                <option>Sipariş Durumu Seçiniz ...</option>
            </select>
            <span asp-validation-for="OrderState" class="text-danger"></span>
        </div>
      


            <button type="submit" class="btn btn-primary">Sipariş Durumunu Güncelle</button>

    </form>


</div>
