@model IEnumerable<Order>

@{
    ViewData["Title"] = "BekleyenSiparisler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bekleyen Şiparişler   </li>
</ol>
<table class="table table-bordered" style="margin-top: 20px;">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Sipariş Numarası</th>
                            <th>Sipariş Tarihi</th>
                            <th>Sipariş Durumu</th>
                            <th>Toplam Tutar (₺)</th>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.OrderNumber
                                </td>
                                <td>
                                    @item.OrderDate
                                </td>
                                <td>
                                    @item.OrderState
                                </td>
                                <td>
                                    @item.Total
                                </td>
                                <td>
                                    @Html.ActionLink("Detay", "Details", new { id = @item.Id }, new { @class = "btn btn-primary" })
                                </td>

                            </tr>
                        }


                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
      

