@model SaleTransaction

@{
    ViewBag.Title = "SalesAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>Sales Add</h2>

<form class="form-group" action="/SaleTransaction/SalesAdd" method="post">
    @Html.Label("Cari:")
    @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.VCustomer, new { @class = "form-control" })
    <br />
    @Html.Label("Personel:")
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.VPersonel, new { @class = "form-control" })
    <br />
    @Html.Label("Urun:")
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.VProduct, new { @class = "form-control" })
    <br />
    @Html.Label("Adet:")
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-info"><i class="fa fa-tag"></i> Sat</button>
</form>